
.Card {
    border-top: 10px solid #cccccc;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.titulo{
    margin-left: 30px;
    text-align: left;
    color: #767676;
    font-size: 11px;
    padding: 4px;
}
.precios{
    margin-top: 5px;
    margin-left: 30px;
    text-align: left;
    color: #767676;
    font-size: 14px;
    padding-bottom: 1px;
}
.precio{
    color:black;
    font-size: 20px;
}
.precioAntes{
    color: #c9c8c8;
    font-size: 14px;
    text-decoration:line-through;
    margin-left: 3px;
}
.descuento{
    color: #62c26f;
    font-size: 18px;
    margin-left: 5px;
}
.oferta{
    background-color:#fef065;
    height: 20px;
    width: 50%;
    margin-top: 15px;
}


.nombre {
    margin-left: 30px;
    text-align: left;
    font-size: 20px;
    margin-bottom: -10px;
    padding-bottom: 1px;
}

.secondary-description {
   
    margin-left: 30px;
    text-align: left;
    color: #767676;
    font-size: 14px;
    margin-top: 12px;
    padding-bottom: 3px;
}
#img {
    height: auto; 
    width: auto; 
    max-height: 200px;
    align-self: center;
    overflow: hidden;
    margin: 25px;
    margin-left:25px;
}
a:link{text-decoration:none}
a:visit{text-decoration:none}

#linkText{
font-size: 14px;
color: #fff;
display: block;
margin-left: 15px;
float: left;
}
.contenedor{
    background-color:#767676;
    height: 35px;
    width: 90%;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    margin-bottom: 20px;
}

