.Footer {
    border-top: 10px solid #cccccc;
    background-color: #fff;
    height: 350px;
    width: 100%;
}

.InnerFooter {
    background-color: #fff;
    text-align: center;
    backface-visibility: hidden;
    
}

h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.255;
    padding-bottom: 4px;
}

.secondary-title {
    margin-bottom:  15px;
    border-bottom: 1px solid #e3e3e3;
    color: #767676;
    font-size: 11px;
    padding-bottom: 1px;
    
}

.links{
    float: right;
    text-align: left;
    color: #518be2;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-decoration:none;
    line-height: 20px;
    max-height: 40px;   
} 

a:link {text-decoration:none}
a:visited {text-decoration:none}

#carrito{
    align-self: center;
    margin-top: 30px;
    margin-left: 10%;

}
.flex{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}