*:focus { outline: none; } 

.headerTop {
    background-color: rgb(255, 241, 89);
    height: 47px;
    width: 100%;
}

.logo{
    text-align: center
}

#logoMeli {
    width: 120px;
    height: 60px;
    
}

#lupa {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    cursor: pointer;
    
}

.headerInput {
    height: 100%;
    background-color: rgb(255, 241, 89);
    padding: 10px;
    margin-bottom: 10px;
}

#query {
    border-radius: 2px;
    width: calc(100% - 35px);
    border: none;
    height: 25px;
    font-size: 16px;
}

.botonSubmit {
    background-color: white;
    height: 27px;
    border: none;
    border-radius: 2px
}

.formulario {
    background-color: white;
    border-radius: 2px;
    text-align: center;
}