@font-face {
    font-family: "navigation";
    src: url("navigation.woff") format("woff"), /* chrome, firefox */
    url("navigation.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: normal;
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 320px;
}

.preCargar {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    height: 493px;
    width: 320px;   
}


