@font-face {
    font-family: "navigation";
    src: url("navigation.eot"); /* IE9 */
    src: url("navigation.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("navigation.woff") format("woff"), /* chrome, firefox */
    url("navigation.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: normal;
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 320px;
}
